.list{
    background-color: #c3d4de;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    width: 500px;
    height: auto;
    border-radius: 5%;
}
.speciest{
    display: inline;
}